repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: ./bin/checks/lint
        language: script
        pass_filenames: false

      - id: format
        name: format
        entry: ./bin/checks/format
        language: script
        pass_filenames: false

      - id: types
        name: types
        entry: ./bin/checks/types
        language: script
        pass_filenames: false

      - id: tests
        name: tests
        entry: ./bin/checks/test
        language: script
        pass_filenames: false
