repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: ./run lint
        language: script
        pass_filenames: false

      - id: format
        name: format
        entry: ./run format
        language: script
        pass_filenames: false

      - id: types
        name: types
        entry: ./run types
        language: script
        pass_filenames: false

      - id: tests
        name: tests
        entry: ./run test
        language: script
        pass_filenames: false
