{% extends "base.html" %}
{% block content %}
    <div class="container">
        Mark Paid
    </div>
    <div class="container">
        {% for player_status in player_statuses %}
            {% if not player_status.is_paid %}
                <div class="vertical-link">
                    <a href="{% url 'user_paid' season.year player_status.player.username %}">
                        {{ player_status.player.username }}
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
