{% extends "base.html" %}
    {% block content %}
        Send a message to the players of this season!
        <br><br>
        <form action="{% url 'send_message' season.year %}" method="POST">
            {% csrf_token %}
            <label for="{{ form.subject.id_for_label }}">Subject:</label>
            <br>
            {{ form.subject }}
            <br><br>
            <label for="{{ form.message.id_for_label }}">Message:</label>
            <br>
            {{ form.message }}
            <br><br>
            <input class="blue-button" type="submit" value="Send to Season" />
        </form>
    {% endblock %}