{% extends "base.html" %}
{% block content %}
    <div class="container">
        {{ season.description }}
        {% if player_status.is_paid %}
            > <span class="paid">Paid</span>
        {% else %}
            > <span class="unpaid">Unpaid</span>
        {% endif %}
        {% if picks %}
            <div class="container small-table-container">
                <table>
                    <tr>
                        <th>Wk</th>
                        <th>Team</th>
                    </tr>
                {% for pick in picks %}
                    <tr>
                        <td>{{ pick.week.week_num|stringformat:"02d" }}</td>
                        <td {% if pick.result == "W" %} class="win" {% elif pick.result == "L" %} class="loss"{% endif %}>
                            {% if pick.is_locked %}
                                🔒
                                {% if pick.team.team_code %}
                                    {{ pick.team.team_code }}
                                {% else %}
                                    --
                                {% endif %}
                            {% else %}
                            <a href="{% url 'pick' season.year pick.week.week_num %}">
                                {% if pick.team.team_code %}{{ pick.team.team_code }}{% else %}???{% endif %}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% else %}
            No pick data available for {{ season.year }}!
        {% endif %}
    </div>

{% endblock %}
