{% extends "base.html" %}
    {% block content %}
        <div class="container">
            Rules
            <div class="container">
                <strong>Buy-In</strong>:<br>
                $30 for the season.
                <br><br>

                <strong>Each Week</strong>:<br>
                Pick a team to win.<br>
                Ties are losses.<br>
                No contests are wins.
                <br><br>

                You can only use a team once.
                <br><br>

                Submit your pick by the deadline.<br>
                Picks lock at the deadline.<br>
                Week locks on Sun at 1PM ET.<br>
                Thu, Sat, EU games lock earlier.<br>
                Reminders are best effort, but<br>
                you're responsible for your pick.
                <br><br>

                <strong>Payouts:</strong><br>
                Payouts are dependent on participation!<br>
                Survivor: at least 7x the buy-in.<br>
                Best Record: at least 3x the buy-in.<br>
                Payouts split if tied.
                <br><br>

                Having issues?<br>
                Email your pick to {{ contact }}
                <br><br>
                <div id="confirm">
                    {% block confirm %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
