{% extends "base.html" %}
    {% block content %}
        <div class="container">
            Rules
            <div class="container">
                <span class="rules-header">Buy-In</span><br>
                $30 for the season.
                <br><br>

                <span class="rules-header">Each Week</span><br>
                Pick a team to win.<br>
                Ties are losses.<br>
                No contests are wins.<br>
                <br>

                Submit your pick by the deadline.<br>
                The week locks on Sun at 1PM ET.<br>
                Thu, Sat, EU games lock earlier.<br>
                <br>

                <span class="rules-header">Payouts</span><br>
                Dependent on participation!<br>
                Survivor >= 7x the buy-in.<br>
                Best Record >= 3x the buy-in.<br>
                Split if tied.<br>
                <br>

                Having issues? Email your pick:<br>
                {{ contact }}
                <br>
                <div id="confirm">
                    {% block confirm %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
