<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survivor</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="robots" content="noindex,nofollow" />
    </head>
    <body>
        <div class="main">
            Football Survivor League
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            <br>
            {% block content %}{% endblock %}<br>
        </div>
    </body>
</html>