{% extends "base.html" %}
    {% block content %}
        <a href="/{{ link }}">Back</a>
        <br><br>
        {{ year }} Board
        <br><br>
        <table>
            <tr>
                <th>Username</th>
                <th>Rank</th>
                <th>Ws</th>
                <th>Ls</th>
                {% for i in range(1, data[0][5]|length + 1) %}
                    <th>{{ "%02d" % (i) }}</th>
                {% endfor %}
            </tr>
            </tr>
            {% for d in data %}
                <tr>
                    <td
                        {% if d[1] %}
                            class="paid"
                        {% endif %}
                    >{{ d[0] }}
                    </td>
                    <td>{{ d[2] }}</td>
                    <td>{{ d[3] }}</td>
                    <td>{{ d[4] }}</td>
                    
                {% for e in d[5] %}
                    <td
                        {% if e[1] == "W" %}
                            class="win"
                        {% elif e[1] == "L" %}
                            class="loss"
                        {% endif %}
                    >{{ e[0] }}
                    </td>
                {% endfor %}                 
                </tr>
            {% endfor %}
        </table>
        <br><br>
        Other Boards:<br>
        {% for year in years %}
            <a href="/{{ link }}/previous/{{ year }}">{{ year }}</a>
        {% endfor %}
    {% endblock %}