{% extends "base.html" %}
    {% block content %}
        <div class="rules">
            This website is used to run a private NFL Survivor Pool for family and friends.<br>
            It's not intended for public consumption.
        </div>
        <form action="/" method="POST">
            username<br>
            <input class="resizedTextBox" name="username" type="text" 
                placeholder="username" />
            <br><br>
            email (not displayed)<br>
            <input class="resizedTextBox" name="email" type="text" 
                placeholder="email" />
            <br><br>
            <input type="submit" value="Create User" />
        </form>
        <br><br>
        <div class="rules">
            Rules!<br><br>

            Each Week:<br>
            Pick one team to win. Ties are losses.<br>
            Submit your pick by the deadline shown.<br>
            Picks will lock at the deadline.<br>
            Each team can only be used once.<br>
            If technical issues, email your pick to picks@fbsurvivor.com.<br>
            <br>
            Payouts are dependent on participation!<br>
            <br>
            Survivor will get at least 7x the buy in.<br>
            Best Record will get 2-4x the buy in.<br>
            2nd Best Record will get 1-2x the buy in.<br>
            <br>
            If there are ties, players will split the corresponding payout.
        </div>
    {% endblock %}