{% extends "base.html" %}
    {% block content %}
    <strong>{{ username }}</strong>
        <br><br>
        {{ year }}
        <br><br>
        <a href="/{{ link }}/{{ year }}/picks">Picks</a>
        <br><br>
        {% if not lock and not picks %}
            <a href="#">
                <h2>Play {{  year }}</h2>
            </a>
            <br><br>
        {% endif %}
         <a href="#e">Retire {{ year }}</a>
        <table>
            <tr>
                <th>Username</th>
                <th>Rank</th>
                <th>Ws</th>
                <th>Ls</th>
                {% for i in range(1, data[0][5]|length + 1) %}
                    <th>{{ "%02d" % (i) }}</th>
                {% endfor %}
            </tr>
            </tr>
            {% for d in data %}
                <tr>
                    <td
                        {% if d[1] %}
                            class="paid"
                        {% endif %}
                    >{{ d[0] }}
                    </td>
                    <td>{{ d[2] }}</td>
                    <td>{{ d[3] }}</td>
                    <td>{{ d[4] }}</td>
                    
                {% for e in d[5] %}
                    <td
                        {% if e[0] == "--" and e[1] == "R" %}
                            class="black"
                        {% elif e[1] == "W" %}
                            class="win"
                        {% elif e[1] == "L" %}
                            class="loss"
                        {% endif %}
                    >{{ e[0] }}
                    </td>
                {% endfor %}                 
                </tr>
            {% endfor %}
        </table><br><br>
    {% endblock %}
        