@import url(base.css);

:root {
    --background: rgb(31, 32, 35);
    --color: rgb(228 228 231);
    --link-color: #81d4fa;
    --win-color: #92e6a7;
    --loss-color: #ec8385;
    /* Tables */
    --table-header: #343a40;
    --table-lines: #343a40;
}
