@import url(base.css);

:root {
    --background: rgb(228 228 231);
    --color: rgb(31, 32, 35);
    --link-color: #023e8a;
    --win-color: #155d27;
    --loss-color: #9c191b;
    /* Tables */
    --table-header: #e3d5ca;
    --table-lines: #ced4da;
}
